body {
  overflow-x: hidden;
}

.softwares {
  width: 100%;
  height: 10rem;
  gap: 4rem;
  background-color: #d0d0d0;
}

.softL {
  width: 50%;
  font-size: 2rem;
  font-weight: 600;
  justify-content: end;
  align-items: end;
  text-align: end;
  padding-bottom: 3rem;
}

.softL p {
  margin: 0;
}

#laserSurveying, #trackingSystem, #software, .hardwares {
  padding: 2rem;
  flex-direction: column;
  gap: 1.5rem;
}

.tracking img, .target img {
  width: 300px;
}

#edge, .red {
  color: #ed1c24;
}

.softR {
  width: 50%;
  font-size: 0.85rem;
  align-items: end;
  padding-bottom: 4.5rem;
}

/* p {
  width: 80%;
} */

.softMain {
  width: 100%;
  height: 50rem;
  background-color: #d0d0d0;
  gap: 5rem;
}

.fabric {
  width: 100%;
  height: 5rem;
  background-color: #484848;
  color: #202020;
}

.fabric h2 {
  font-size: 2rem;
  padding: 1rem 4rem;
}

.softExamples {
  width: 100%;
  height: 55rem;
  gap: 5rem;
  background-color: #696969;
  background-image: url("./assets/images/vdarkr.png");
  background-repeat: no-repeat;
  background-size: 100rem;
}

.mainCol1 {
  width: 50%;
  flex-direction: column;
  gap: 3rem;
}

.mainCol {
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem 0rem;
}

.L {
  align-items: flex-end;
}

.mainImg {
  width: 504px;
  height: 304px;
}

.mainImg img {
  width: 504px;
  height: 304px;
}

.mainTxt {
  display: flex;
  flex-direction: column;
  width: 504px;
  height: 304px;
  background-color: #fff;
  justify-content: start;
}

.mainTxt p {
  padding: 1rem 3rem;
  font-size: 0.9rem;
}

.mainTxt h2 {
  padding: 2rem 3rem 0rem;
}

h2 {
  font-size: 1.8rem;
  padding: 0;
}

@media screen and (max-width: 1230px) {
  .softMain,
  .softExamples {
    height: 90rem;
    width: 100%;
    gap: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mainCol {
    padding: 1rem 0rem;
    width: auto;
    gap: 2rem;
  }

  #number,
  #email {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 767px) {
  .softL p {
    font-size: 1.4rem;
  }

  .softwares {
  height: 16rem;
}

  .softL, .softR {
    padding-bottom: 2rem;
    align-items: end;
  }

  .softR p {
    font-size: 0.75rem;
  }

  .mainTxt {
    height: fit-content;
    width: 360px;
  }

  .mainTxt p {
    font-size: 0.75rem;
  }

  .mainTxt h2 {
    font-size: 1.25rem;
  }

  .mainCol {
    width: 100%;
    align-items: center;
  }

  .video, .mainImg, .mainImg Img {
    width: 360px;
    height: 200px;
  }

  .softMain, .softExamples {
    height: fit-content;
  }

  .contactLogo {
    display: none;
  }

  .fabric h2 {
    font-size: 1.75rem;
  }

  .video iframe {
    width: 360px;
    height: 200px;
  }
}
